<?xml version="1.0"?>
<!--
 /**
 * GoMage Sales and Deals Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 1.1
 */ 
 -->
<config>
    <modules>
        <GoMage_Salesdeals>
            <version>1.1</version>
        </GoMage_Salesdeals>
    </modules>
	<frontend>
        <routers>
            <gomage_salesdeals>
                <use>standard</use>
                <args>
                    <module>GoMage_Salesdeals</module>
                    <frontName>bestdeals</frontName>
                </args>
            </gomage_salesdeals>
        </routers>
        <layout>
            <updates>
                <gomage_salesdeals module="gomage_salesdeals">
                    <file>gomage-salesdeals.xml</file>
                </gomage_salesdeals>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<gomage_salesdeals>
				<use>admin</use>
				<args>
					<module>GoMage_Salesdeals</module>
					<frontName>gomage_salesdeals</frontName>
				</args>
			</gomage_salesdeals>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<GoMage_Salesdeals>
					<files>
						<default>GoMage_Salesdeals.csv</default>
					</files>
				</GoMage_Salesdeals>
			</modules>
        </translate>
        <events>            
            <admin_system_config_changed_section_gomage_activation>
                <observers>
                    <salesdeals_collect_totals_after>
                        <type>model</type>
                        <class>gomage_salesdeals/observer</class>
                        <method>checkK</method>
                    </salesdeals_collect_totals_after>
                </observers>
            </admin_system_config_changed_section_gomage_activation>
            <controller_action_predispatch>
                <observers>
                    <gomage_salesdeals_notify>
                        <class>gomage_salesdeals/observer_notify</class>
                        <method>notify</method>
                    </gomage_salesdeals_notify>
                </observers>
            </controller_action_predispatch>
        </events> 
        <menu>
			<promo>
				<children>
					<gomage_salesdeals> 
						<title>Sales and Deals</title>
						<sort_order>20</sort_order>           
						<action>gomage_salesdeals/adminhtml_items</action>
						<children>
							<gomage_manage_salesdeals>
								<title>Manage Deals</title>
								<sort_order>10</sort_order>
								<action>gomage_salesdeals/adminhtml_items</action>
							</gomage_manage_salesdeals>
							<gomage_manage_deal_blocks>
								<title>Manage Deal Blocks</title>
								<sort_order>20</sort_order>
								<action>gomage_salesdeals/adminhtml_blocks</action>
							</gomage_manage_deal_blocks>
						</children>	
					</gomage_salesdeals> 
				</children>
			</promo>
		</menu>         
        <layout>
            <updates>
                <gomage_salesdeals>
                    <file>gomage-salesdeals.xml</file>
                </gomage_salesdeals>
            </updates>
        </layout>
        <acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>	                                    
	                                    <gomage_activation>
	                                    	<title>GoMage - Activation</title>
	                                    </gomage_activation>
                                        <gomage_notification>
                                            <title>GoMage - Notifications</title>
                                        </gomage_notification>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                    <promo>
	                    	<children>
	                    		<gomage_salesdeals>
                                	<title>Sales and Deals</title>
                                	<children>
                                		<gomage_manage_salesdeals>
											<title>Manage Deals</title>											
										</gomage_manage_salesdeals>
										<gomage_manage_deal_blocks>
											<title>Manage Deal Blocks</title>											
										</gomage_manage_deal_blocks>
                                	</children>	
                                </gomage_salesdeals>
	                    	</children>	
	                    </promo>	
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>
	<global>
		<models>
		    <gomage_salesdeals>
		        <class>GoMage_Salesdeals_Model</class>
		        <resourceModel>gomage_salesdeals_mysql4</resourceModel>
		    </gomage_salesdeals>
		    <gomage_salesdeals_mysql4>
		        <class>GoMage_Salesdeals_Model_Mysql4</class>
		        <entities>
		            <item>
                        <table>gomage_salesdeals_entity</table>
		            </item>
		            <block>
                        <table>gomage_salesdeals_block</table>
		            </block>
		            <block_item>
                        <table>gomage_salesdeals_block_entity</table>
		            </block_item>
		            <block_store>
                        <table>gomage_salesdeals_block_store</table>
		            </block_store>		            
		        </entities>		        
		    </gomage_salesdeals_mysql4>
		</models>
		<events>
			<sales_order_item_save_after>
                <observers>
                    <gomage_salesdeals_saveitem_observer>
                    	<type>singleton</type>
                        <class>gomage_salesdeals/observer</class>
                        <method>saveOrderItem</method>
                    </gomage_salesdeals_saveitem_observer>
                </observers>
            </sales_order_item_save_after>  
            <gomage_salesdeals_block_load_after>
            	<observers>
                    <gomage_salesdeals_block_load_after_observer>
                    	<type>singleton</type>
                        <class>gomage_salesdeals/observer</class>
                        <method>loadBlock</method>
                    </gomage_salesdeals_block_load_after_observer>
                </observers>
            </gomage_salesdeals_block_load_after>    
            <gomage_salesdeals_block_save_after>
            	<observers>
                    <gomage_salesdeals_block_save_after_observer>
                    	<type>singleton</type>
                        <class>gomage_salesdeals/observer</class>
                        <method>saveBlock</method>
                    </gomage_salesdeals_block_save_after_observer>
                </observers>
            </gomage_salesdeals_block_save_after>
            <controller_action_layout_render_before_gomage_salesdeals_index_index>
        		<observers>
                    <gomage_salesdeals_navigation_check_ajax_request>
                        <type>singleton</type>
                        <class>gomage_salesdeals/observer</class>
                        <method>checkAjax</method>
                    </gomage_salesdeals_navigation_check_ajax_request>
                </observers>
        	</controller_action_layout_render_before_gomage_salesdeals_index_index>
        	<controller_action_layout_generate_blocks_before>
        		<observers>
                    <gomage_salesdeals_layout_generate_blocks_after>
                        <type>singleton</type>
                        <class>gomage_salesdeals/observer</class>
                        <method>LayoutBlocks</method>
                    </gomage_salesdeals_layout_generate_blocks_after>
                </observers>
        	</controller_action_layout_generate_blocks_before>	
		</events>	
		<blocks>
            <gomage_salesdeals>
                <class>GoMage_Salesdeals_Block</class>
            </gomage_salesdeals>
        </blocks>
        <resources>
            <gomage_salesdeals_setup>
                <setup>
                    <module>GoMage_Salesdeals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gomage_salesdeals_setup>
            <gomage_salesdeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gomage_salesdeals_write>
            <gomage_salesdeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gomage_salesdeals_read>
        </resources>
        <helpers>
			<gomage_salesdeals><class>GoMage_Salesdeals_Helper</class></gomage_salesdeals>
		</helpers>
	</global>

    <default>
        <gomage_notification>
            <notification>
                <enable>1</enable>
            </notification>
        </gomage_notification>
	</default>

</config>